<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-10" style="background-image: url('assets/img/portada2.jpg');">

    </div>
      <div class="container">
          <div class="content-center brand">
              <img class="n-logo"  alt="">
              <h1 class="h1-seo">Zapateria Rodriguez</h1>
              <h3>La mejor zapateria de la zona</h3>
          </div>
         
      </div>
  </div>

  <div class="main">
      <div class="section section-tabs">
          <div class="container">
              <div class="row">
                  <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                      <!-- Nav tabs -->
                      <!-- Initial card -->
                      <div class="card">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ngb-tabset [justify]="'center'" class="text-center">

                                    <ngb-tab>
                                      <ng-template ngbTabTitle>
                                        <i class="now-ui-icons shopping_cart-simple" ><img src="assets/img/1.jpg" style="width: 18rem;
                                        height:20rem ;" alt=""></i> 
                                      </ng-template>
                                        <ng-template ngbTabContent>
                                            <p> Tenis Marca Nike</p>
                                            <p> Estilo SB</p>
                                            <p> Precio: 40 000</p>
                                        </ng-template>
                                    </ngb-tab>
                                </ngb-tabset>
                            </div>
                        </div>
                      </div>
                  </div>
                  <!-- card finally -->

                  <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                    <!-- Nav tabs -->
                    <!-- Initial card -->
                    <div class="card">
                      <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                              <ngb-tabset [justify]="'center'" class="text-center">

                                  <ngb-tab>
                                    <ng-template ngbTabTitle>
                                      <i class="now-ui-icons shopping_cart-simple" ><img src="assets/img/2.jpg" style="width: 18rem;
                                      height:20rem ;" alt=""></i> 
                                    </ng-template>
                                      <ng-template ngbTabContent>
                                          <p> Zapatillas</p>
                                          <p> Tacon bajo</p>
                                          <p> Precio: 25 000</p>
                                      </ng-template>
                                  </ngb-tab>
                              </ngb-tabset>
                          </div>
                      </div>
                    </div>
                </div>
                <!-- card finally -->
                  
                <!-- Nav tabs -->
                <!-- Initial card -->
                <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                  <div class="card">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ngb-tabset [justify]="'center'" class="text-center">

                                <ngb-tab>
                                  <ng-template ngbTabTitle>
                                    <i class="now-ui-icons shopping_cart-simple" ><img src="assets/img/3.jpg" style="width: 18rem;
                                    height:20rem ;" alt=""></i> 
                                  </ng-template>
                                    <ng-template ngbTabContent>
                                        <p> Zapatillas para hombre</p>
                                        <p> Estilo bajas</p>
                                        <p> Precio: 30 000</p>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                  </div>
              </div>
              <!-- card finally -->

              <!-- Initial card -->
              <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                <div class="card">
                  <div class="nav-tabs-navigation">
                      <div class="nav-tabs-wrapper">
                          <ngb-tabset [justify]="'center'" class="text-center">

                              <ngb-tab>
                                <ng-template ngbTabTitle>
                                  <i class="now-ui-icons shopping_cart-simple" ><img src="assets/img/4.jpg" style="width: 18rem;
                                  height:20rem ;" alt=""></i> 
                                </ng-template>
                                  <ng-template ngbTabContent>
                                      <p> Tenis Marca Vans</p>
                                      <p> Estilo bajas</p>
                                      <p> Precio: 36 000</p>
                                  </ng-template>
                              </ngb-tab>
                          </ngb-tabset>
                      </div>
                  </div>
                </div>
            </div>
            <!-- card finally -->

            <!-- Initial card -->
            <div class="col-md-10 ml-auto col-xl-6 mr-auto">
              <div class="card">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ngb-tabset [justify]="'center'" class="text-center">

                            <ngb-tab>
                              <ng-template ngbTabTitle>
                                <i class="now-ui-icons shopping_cart-simple" ><img src="assets/img/5.jpg" style="width: 18rem;
                                height:20rem ;" alt=""></i> 
                              </ng-template>
                                <ng-template ngbTabContent>
                                    <p> Tenis Marca Adidas</p>
                                    <p> Estilo SuperStars</p>
                                    <p> Precio: 40 000</p>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
              </div>
          </div>
          <!-- card finally -->

          <!-- Initial card -->
          <div class="col-md-10 ml-auto col-xl-6 mr-auto">
            <div class="card">
              <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                      <ngb-tabset [justify]="'center'" class="text-center">

                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="now-ui-icons shopping_cart-simple" ><img src="assets/img/12.jpg" style="width: 18rem;
                              height:20rem ;" alt=""></i> 
                            </ng-template>
                              <ng-template ngbTabContent>
                                  <p> Tenis Marca Nike</p>
                                  <p> Estilo Deportivo</p>
                                  <p> Precio: 40 000</p>
                              </ng-template>
                          </ngb-tab>
                      </ngb-tabset>
                  </div>
              </div>
            </div>
        </div>
        <!-- card finally -->

        <!-- Initial card -->
        <div class="col-md-10 ml-auto col-xl-6 mr-auto">
          <div class="card">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'" class="text-center">

                        <ngb-tab>
                          <ng-template ngbTabTitle>
                            <i class="now-ui-icons shopping_cart-simple" ><img src="assets/img/7.jpg" style="width: 18rem;
                            height:20rem ;" alt=""></i> 
                          </ng-template>
                            <ng-template ngbTabContent>
                                <p> Botines para mujer</p>
                                <p> Estilo tacon bajo</p>
                                <p> Precio: 38 000</p>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
          </div>
      </div>
      <!-- card finally -->

      <!-- Initial card -->
      <div class="col-md-10 ml-auto col-xl-6 mr-auto">
        <div class="card">
          <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                  <ngb-tabset [justify]="'center'" class="text-center">

                      <ngb-tab>
                        <ng-template ngbTabTitle>
                          <i class="now-ui-icons shopping_cart-simple" ><img src="assets/img/8.jpg" style="width: 18rem;
                          height:20rem ;" alt=""></i> 
                        </ng-template>
                          <ng-template ngbTabContent>
                              <p> Zapatillas para hombre</p>
                              <p> Estilo baja</p>
                              <p> Precio: 27 000</p>
                          </ng-template>
                      </ngb-tab>
                  </ngb-tabset>
              </div>
          </div>
        </div>
    </div>
    <!-- card finally -->

    <!-- Initial card -->
    <div class="col-md-10 ml-auto col-xl-6 mr-auto">
      <div class="card">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ngb-tabset [justify]="'center'" class="text-center">

                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <i class="now-ui-icons shopping_cart-simple" ><img src="assets/img/9.jpg" style="width: 18rem;
                        height:20rem ;" alt=""></i> 
                      </ng-template>
                        <ng-template ngbTabContent>
                            <p> Tacones</p>
                            <p> Estilo tacon medio</p>
                            <p> Precio: 20 000</p>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
      </div>
  </div>
  <!-- card finally -->

  <!-- Initial card -->
  <div class="col-md-10 ml-auto col-xl-6 mr-auto">
    <div class="card">
      <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
              <ngb-tabset [justify]="'center'" class="text-center">

                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <i class="now-ui-icons shopping_cart-simple" ><img src="assets/img/14.jpg" style="width: 18rem;
                      height:20rem ;" alt=""></i> 
                    </ng-template>
                      <ng-template ngbTabContent>
                          <p> Burros marca timberland</p>
                          <p> Estilo burros</p>
                          <p> Precio: 38 000</p>
                      </ng-template>
                  </ngb-tab>
              </ngb-tabset>
          </div>
      </div>
    </div>
</div>
<!-- card finally -->

<!-- Initial card -->
<div class="col-md-10 ml-auto col-xl-6 mr-auto">
  <div class="card">
    <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
            <ngb-tabset [justify]="'center'" class="text-center">

                <ngb-tab>
                  <ng-template ngbTabTitle>
                    <i class="now-ui-icons shopping_cart-simple" ><img src="assets/img/15.jpg" style="width: 18rem;
                    height:20rem ;" alt=""></i> 
                  </ng-template>
                    <ng-template ngbTabContent>
                        <p> Tenis MArca Rebook</p>
                        <p> Estilo deportivo</p>
                        <p> Precio: 36 000</p>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
  </div>
</div>
<!-- card finally -->
                  
                  <!-- Tabs with Background on Card -->
                  <!-- Initial card -->
                  <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                      <div class="card">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ngb-tabset [justify]="'center'" class="text-center">

                                    <ngb-tab>
                                      <ng-template ngbTabTitle>
                                        <i class="now-ui-icons shopping_cart-simple" ><img src="assets/img/13.jpg" style="width: 18rem;
                                        height:20rem ;" alt=""></i> 
                                      </ng-template>
                                        <ng-template ngbTabContent>
                                            <p> Zapatillas para hombre</p>
                                            <p> Estilo bajas</p>
                                            <p> Precio: 20 000</p>
                                        </ng-template>
                                    </ngb-tab>
                                </ngb-tabset>
                            </div>
                        </div>
                      </div>
                  </div>
                  <!-- card finally -->

              </div>
          </div>
      </div>

 <!--Aqui se encuentra el carousel que mostrara maximo 10 imagenes para no verlo tan cargado-->
      <div class="section section-javascript" id="javascriptComponents">
          <div class="container">
          <div class="section" id="carousel">
              <div class="container">
                  <div class="title">
                      <h4>Categorias</h4>
                  </div>
                  <div class="row justify-content-center">
                      <div class="col-6">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                              <img class="d-block" src="assets/img/5.jpg" alt="First slide">
                              <div class="carousel-caption d-none d-md-block">
                              </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img class="d-block" src="assets/img/2.jpg" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                </div>
                              </ng-template>
                              <ng-template ngbSlide>
                                  <img class="d-block" src="assets/img/3.jpg" alt="First slide">
                                  <div class="carousel-caption d-none d-md-block">
                                  </div>
                                </ng-template>
                              <ng-template ngbSlide>
                                  <img class="d-block" src="assets/img/7.jpg" alt="First slide">
                                  <div class="carousel-caption d-none d-md-block">
                                  </div>
                                </ng-template>     
                              <ng-template ngbSlide>
                                    <img class="d-block" src="assets/img/9.jpg" alt="First slide">
                                    <div class="carousel-caption d-none d-md-block">
                                    </div>
                              </ng-template> 
                              <ng-template ngbSlide>
                                  <img class="d-block" src="assets/img/8.jpg" alt="First slide">
                                  <div class="carousel-caption d-none d-md-block">
                                  </div>
                                </ng-template>   
                        </ngb-carousel>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
  <footer class="footer" data-background-color="black">
      <div class="container">
          <nav>
              <ul>
                  <div class="row justify-content-md-center sharing-area text-center">
                      <div class="text-center col-md-12 col-lg-8">
                        <h3>Mas información</h3>
                      </div>
       
                    </div>
                  <li>
                      <a target="_blank" href="https://github.com/KevinpumaRJ/zapateriaRodriguez" class="btn btn-neutral btn-icon btn-github btn-round " rel="tooltip" title="Star on Github">
                        <i class="fab fa-github"></i>
                      </a>
                  </li>
                  <li>
                      <a target="_blank" href="https://www.facebook.com/Zapater%C3%ADa-Rodr%C3%ADguez-104755574352006/?referrer=whatsapp  " class="btn btn-neutral btn-icon btn-facebook btn-round" rel="tooltip" title="Like us">
                        <i class="fab fa-facebook-square"></i>
                      </a>
                  </li>
                  <br>
                  <li>
                      <label >Telefono: 2481-01-18</label>
                      <br>
                      <label>Whatsapp: 83-67-98-90</label>
                  </li>
                  <li>
                  </li>
                  <li>
                      
                  </li>
                  <li>
                      
                  </li>
              </ul>
          </nav>
          <!--<div class="copyright">
              &copy;
            {{data | date: 'yyyy'}}, Designed by
              <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
              <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
          </div>-->
      </div>
  </footer>
</div>
